In [ ]:
# Database Concepts Notebook
# All Questions and Answers Combined

# Question no. 1. What is a database? Differentiate between SQL and NoSQL databases.

# Answer no.1
"""
A database is an organized collection of structured data stored electronically in a computer system. It allows for efficient data storage, retrieval, updating, and management.

Differences between SQL and NoSQL databases:

SQL Databases:
1. Relational database management systems (RDBMS)
2. Use structured query language (SQL) for defining and manipulating data
3. Data is stored in tables with fixed rows and columns
4. Follow ACID properties (Atomicity, Consistency, Isolation, Durability)
5. Best for complex queries and transactions
6. Examples: MySQL, PostgreSQL, Oracle, SQL Server

NoSQL Databases:
1. Non-relational or distributed database systems
2. No standard query language (though many have their own)
3. Flexible schema design (document, key-value, graph, column-family)
4. Follow CAP theorem (Consistency, Availability, Partition tolerance)
5. Best for handling large volumes of unstructured data
6. Examples: MongoDB, Cassandra, Redis, Neo4j
"""

# Question no. 2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

# Answer no.2
"""
DDL (Data Definition Language) is a subset of SQL used to define and modify database structures. It deals with schema creation and modification rather than data manipulation.

Key DDL commands:

1. CREATE: Used to create new database objects like tables, views, indexes, etc.
   Example: 
   CREATE TABLE Employees (
       EmployeeID INT PRIMARY KEY,
       FirstName VARCHAR(50),
       LastName VARCHAR(50),
       Department VARCHAR(50)
   );

2. DROP: Used to delete entire database objects.
   Example:
   DROP TABLE Employees;  -- Deletes the entire Employees table

3. ALTER: Used to modify existing database objects.
   Example:
   ALTER TABLE Employees ADD COLUMN Email VARCHAR(100);  -- Adds a new column
   ALTER TABLE Employees MODIFY COLUMN Department VARCHAR(100);  -- Modifies column

4. TRUNCATE: Used to remove all records from a table while keeping the structure intact.
   Example:
   TRUNCATE TABLE Employees;  -- Removes all data but keeps the table structure

These commands are essential for database administrators to manage the structure of databases as requirements evolve.
"""

# Question no. 3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

# Answer no.3
"""
DML (Data Manipulation Language) is a subset of SQL used for managing data within database objects. It deals with inserting, updating, and deleting data.

Key DML commands:

1. INSERT: Adds new records to a table.
   Example:
   INSERT INTO Employees (EmployeeID, FirstName, LastName, Department)
   VALUES (1, 'John', 'Doe', 'IT'),
          (2, 'Jane', 'Smith', 'HR');

2. UPDATE: Modifies existing records in a table.
   Example:
   UPDATE Employees
   SET Department = 'Finance'
   WHERE EmployeeID = 2;  -- Changes Jane's department to Finance

3. DELETE: Removes specific records from a table.
   Example:
   DELETE FROM Employees
   WHERE EmployeeID = 1;  -- Removes John's record from the table

Unlike DDL which affects database structure, DML operations affect the actual data stored in the database.
"""

# Question no. 4. What is DQL? Explain SELECT with an example.

# Answer no.4
"""
DQL (Data Query Language) is a subset of SQL used for querying and retrieving data from databases. The primary DQL command is SELECT.

SELECT Statement:
The SELECT statement retrieves data from one or more tables. It can include filtering, sorting, grouping, and joining operations.

Basic Syntax:
SELECT column1, column2, ...
FROM table_name
WHERE condition
GROUP BY column
HAVING condition
ORDER BY column
LIMIT number;

Examples:

1. Simple query:
   SELECT FirstName, LastName FROM Employees;

2. With filtering:
   SELECT * FROM Employees WHERE Department = 'IT';

3. With sorting:
   SELECT FirstName, LastName FROM Employees ORDER BY LastName ASC;

4. With aggregation:
   SELECT Department, COUNT(*) as EmployeeCount
   FROM Employees
   GROUP BY Department;

5. With joining tables:
   SELECT e.FirstName, e.LastName, d.DepartmentName
   FROM Employees e
   JOIN Departments d ON e.DepartmentID = d.DepartmentID;

SELECT is the most frequently used SQL command as it forms the basis for data retrieval in relational databases.
"""

# Question no. 5. Explain Primary Key and Foreign Key.

# Answer no.5
"""
Primary Key and Foreign Key are important relational database concepts that help maintain data integrity and establish relationships between tables.

Primary Key:
- A column or set of columns that uniquely identifies each row in a table
- Cannot contain NULL values
- Each table can have only one primary key
- Enforces entity integrity (each row is uniquely identifiable)
- Example: EmployeeID in an Employees table

Foreign Key:
- A column or set of columns that refers to the primary key in another table
- Creates a relationship between two tables
- Ensures referential integrity (values must exist in the referenced table)
- Can contain NULL values (unless constrained otherwise)
- Example: DepartmentID in Employees table that references DepartmentID in Departments table

Example:
CREATE TABLE Departments (
    DepartmentID INT PRIMARY KEY,
    DepartmentName VARCHAR(50) NOT NULL
);

CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    DepartmentID INT,
    FOREIGN KEY (DepartmentID) REFERENCES Departments(DepartmentID)
);

In this example:
- DepartmentID is the primary key in Departments table
- DepartmentID in Employees table is a foreign key referencing Departments table
"""

# Question no. 6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

# Answer no.6
# First, you need to install the mysql-connector-python package if not already installed
# !pip install mysql-connector-python

import mysql.connector
from mysql.connector import Error

try:
    # Establish a connection to the MySQL database
    connection = mysql.connector.connect(
        host='localhost',
        user='your_username',
        password='your_password',
        database='your_database'
    )
    
    if connection.is_connected():
        print("Successfully connected to MySQL database")
        
        # Create a cursor object
        cursor = connection.cursor()
        
        """
        cursor() method:
        - Creates a cursor object that acts as a intermediary between Python and MySQL
        - Allows execution of SQL queries and retrieval of results
        - Provides methods like execute(), fetchall(), fetchone(), etc.
        - Cursors are needed because databases are set-oriented while Python is procedural
        
        execute() method:
        - Executes the given SQL query on the database
        - For parameterized queries, use placeholders (%s) and pass parameters as second argument
        - Returns None, you need to use fetch methods to get results for SELECT queries
        """
        
        # Example: Create a table
        cursor.execute("""
            CREATE TABLE IF NOT EXISTS Products (
                ProductID INT PRIMARY KEY,
                ProductName VARCHAR(100) NOT NULL,
                Price DECIMAL(10,2),
                StockQuantity INT
            )
        """)
        print("Table created successfully")
        
        # Example: Insert data
        insert_query = "INSERT INTO Products (ProductID, ProductName, Price, StockQuantity) VALUES (%s, %s, %s, %s)"
        product_data = (1, 'Laptop', 999.99, 10)
        cursor.execute(insert_query, product_data)
        connection.commit()
        print("Data inserted successfully")
        
        # Example: Select data
        cursor.execute("SELECT * FROM Products")
        records = cursor.fetchall()
        print("\nProducts:")
        for row in records:
            print(row)
            
except Error as e:
    print(f"Error while connecting to MySQL: {e}")
    
finally:
    # Close the connection
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

# Question no. 7. Give the order of execution of SQL clauses in an SQL query.

# Answer no.7
"""
The logical order of execution of SQL clauses in a query is different from the written order. Understanding this is crucial for writing efficient queries.

Order of Execution:

1. FROM and JOINs: 
   - The database first identifies the tables and how they should be joined

2. WHERE: 
   - Filters rows based on specified conditions after tables are joined

3. GROUP BY: 
   - Groups rows that have the same values in specified columns

4. HAVING: 
   - Filters groups (similar to WHERE but for groups)

5. SELECT: 
   - Selects the columns to be included in the result set
   - Calculates any aggregate functions or expressions

6. DISTINCT: 
   - Removes duplicate rows (if specified)

7. ORDER BY: 
   - Sorts the result set by specified columns

8. LIMIT/OFFSET: 
   - Limits the number of rows returned (or skips rows)

Example Query:
SELECT Department, COUNT(*) as EmployeeCount
FROM Employees
WHERE HireDate > '2020-01-01'
GROUP BY Department
HAVING COUNT(*) > 5
ORDER BY EmployeeCount DESC
LIMIT 10;

Execution Order:
1. FROM Employees (get all employee data)
2. WHERE HireDate > '2020-01-01' (filter employees)
3. GROUP BY Department (group by department)
4. HAVING COUNT(*) > 5 (filter groups)
5. SELECT Department, COUNT(*) (select columns and calculate count)
6. ORDER BY EmployeeCount DESC (sort results)
7. LIMIT 10 (return only top 10 rows)
"""